<% include partials/header.ejs %>
    <div class="table-wrapper">
       
            <table class="table table-hovered">
                <thead class="thead-dark"></thead>
                    <tr>
                        <th scope="col">Options</th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                            
                        <td>
                        <a href="/showcategory" target="_blank" rel="noopener" >Category</a>
                        <a  class=" btn btn-sm btn-success float right" href="/addcategory" >ADD</a> 
                        
                        </td>
                        </tr>
                        <tr>
                            
                            <td>
                            <a href="/showpackage" target="_blank" rel="noopener" >Packages</a>
                                
                            </td>
                            </tr>
                            <tr>
                            
                                <td>
                                <a href="/showadv" target="_blank" rel="noopener" >Ads</a>
                                <a  class=" btn btn-sm btn-success float right" href="/addadv" >ADD</a>  
                                </td>
                                </tr>
                   
                                <tr>
                            
                                    <td>
                                    <a href="/showbooking" target="_blank" rel="noopener" >Bookings</a>
                                        
                                    </td>
                                    </tr>
                               
                   
                </tbody>
            </table>
        
    </div>
</div>
</body>
</html>